<!DOCTYPE html>
<html>
  <head>
    <title>Sjit GNU/Linux Users Group-Register </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="nav navbar navbar-default">
    <div class="container-fluid">
		      <div class="leftimage"><a href="#"><%= image_tag("sjit logo.png", height: '110', width: '110')%></a></div>
      <div class="rightimage">
      <%= image_tag("glug logo.png", height: '120', width: '120') %>
      </div>
      <div class = "header"
      <a href="sjitglug.tumblr.com", target="_blank"></a>
      <h1 align="center"> St.Josephs Institute of Technology </h1>
      </div>
<!--       <style type="text/css" media="screen">
        .leftimage{
          float:left;
        }
        .centerspace{
          float:left;
        }
        .rightimage{
          float:right;
          .navbar-default-bg:transparent;
        }
      </style> -->
    </div>
</div>
    <%= yield %>
  </body>
</html>
